<div class="hello section --is-visible">
  {{> hbPartials/hello}}
</div>

<div class="projects section">
  {{> hbPartials/projects}}
</div>

{{#each projects.projects}}
<div class="project-detail section {{removeHash this.projectLink}}">
  {{> hbPartials/projectDetail}}
</div>
{{/each}}