<div class="hello section --is-visible">
  {{> hbPartials/hello}}
</div>

<div class="projects section">
  {{> hbPartials/projects}}
</div>

<div class="project-detail">
  {{> hbPartials/projectDetail}}
</div>