<div class="hello section --is-visible">
  {{> hbPartials/hello}}
</div>

<div class="projects section">
  {{> hbPartials/projects}}
</div>

<div class="project-detail section project1">
  {{> hbPartials/projectDetail}}  
</div>  