<form action="/#contact" method="POST" name="contact" id="contact" netlify>
  <label for="name">NAME</label>
  <input type="text" id="name">
  <label for="message">MESSAGE</label>
  <textarea name="message" id="message" cols="30" rows="1"></textarea>
  <button type="submit" id="contact-submit">SEND IT!</button>
</form>

<!-- section title footer -->
<div class="section-title-wrapper">
  <div class="section-title">
    {{sectionTitle contact.sectionTitle}}
  </div>
</div>