<div class="bio-blurb">
  <p>{{hello.bio}}</p>
</div>

<div class="face">
  <img src="{{hello.image}}" alt="{{hello.imageAlt}}">
</div>

<!-- section title footer -->
<div class="section-title-wrapper">
  <div class="section-title">
    {{sectionTitle hello.sectionTitle}}
  </div>
</div>