
  <div class="bio-blurb">
    <div>
      <p>{{hello.bio}}</p>
    </div>
  </div>

  <div class="space-skeleton">
    <img src="{{hello.image}}" alt="{{hello.image-alt}}">
  </div>
</div>
<!-- section title footer -->
<div class="section-title-wrapper">
  <div class="section-title">
    {{sectionTitle hello.section-title}}
  </div>
</div>