<div class="project-thumbnail-wrapper">
{{#each projects.projects}}
  <div class="project-thumb">
    <span class="project-title-popup">{{this.popup}}</span>
      <img src="{{this.image}}" alt="">
  </div>
{{/each}}
</div>

<!-- section title footer -->
<div class="section-title-wrapper">
  <div class="section-title">
    {{sectionTitle projects.section-title}}
  </div>
</div>