@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutAndShrink {
  0% {
    opacity: 1;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate(16px, 24px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes staggerInUp {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes staggerInDown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateInUp {
  0% {
    opacity: 0;
    transform: translateY(16px) rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

@keyframes slideFromLeftBig {
    0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}