.bio-blurb {
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.75;
}

.face {
  position: absolute;
bottom: 0;
right: 0;
width: 25%;
max-width: 395px;
min-width: 150px;
overflow: hidden;
  & img {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
  }
  animation: slideInLeft 400ms forwards ease-out;
}