.bio-blurb {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.75;
  width: 50%;
  @media screen and (max-width: 720px) {
    width: 80%;
    z-index: 100;
  }
}

.face {
  position: absolute;
bottom: 0;
right: 0;
width: 25%;
max-width: 395px;
min-width: 150px;
overflow: hidden;
  & img {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
  }
  animation: slideInLeft 400ms forwards ease-out;
  @media screen and (max-width: 720px) {
    width: 100%;
    opacity: 0.4;
    max-height: 60vh;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }

}