.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding-top: 1em;
}

.section {
  display: none;
  &.--is-visible {
    // visibility: visible;
    min-height: calc(100vh - 5em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
}

.section-title-wrapper {
  align-self: flex-end;
  background-image: url(../img/wave1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  width: 100%;
  padding-top: 1em;
}

.section-title {
  font-size: 3em;
  margin-bottom: 1em;
  margin-left: 1em;
  min-height: 150px;
}

.section-title span {
  font-weight: 900;
  display: block;
  margin-bottom: -10px;
}