.main-header {
  background-color: $white;
  font-family: Raleway;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 100%;
  & h1 {
    font-size: 1.2em;
  }
}