.project-detail-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 850px;
  @media screen and (max-width: 720px){
    flex-direction: column;
    width: 90%;
    margin-bottom: 3em;
  }
}

.project-image {
  flex: 1;
  opacity: 0;
  @include inDown(600ms, 0s);
  & img {
    width: 100%;
    height: auto;
    box-shadow: -16px 16px $black;
    object-fit: cover;
    vertical-align: top;
    @media screen and (max-width: 720px) {
      box-shadow: none;
    }
  }
  @media screen and (max-width: 720px) {
    max-width: 500px;
    margin: 0 auto;
  }
}

.project-information {
  padding-left: 2em;
  flex: 1;
  & h1 {
    font-weight: 900;
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    @include fromLeftBig(600ms, 0.45s);
  }
  & h2 {
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    margin: 0.3em 0 1em 0;
    opacity: 0;
    @include fromLeftBig(600ms, 0.65s);
  }
  & p {
    line-height: 1.6;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1.5em;
    opacity: 0;
    @include fromLeftBig(600ms, 0.75s);
  }
  @media screen and (max-width: 720px) {
    padding-left: 0;
    margin-top: 1.3em;
  }
}

.project-links {
  display: flex;
  & li {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    transition: color 250ms ease;
    opacity: 0;
    &:nth-child(1) {
      @include fromLeftBig(600ms, 0.6s);
    }
    &:nth-child(2) {
      @include fromLeftBig(600ms, 0.9s);
    }
    & a {
      text-decoration: none;
      color: inherit;
      padding-left: 0.1em;
    }
    &:hover {
      color: $menu-pink;
    }
  }
}

%nav-arrow {
  position: absolute;
  align-self: center;
  & i {
    font-size: 48px;
    color: $black;
    transition: color 250ms ease;
    &:hover {
      color: $menu-pink;
    }
  }
  @media screen and (max-width: 720px) {
    width: 50px;
    height: 50px;
    padding-left: 0;
    margin-top: 1.3em;
    z-index: 100;
    background-color: transparentize($white, 0.5);
    border-radius: 50%;
  }
}

.nav-arrow__next {
  @extend %nav-arrow;
  right: 15px;
  @media screen and (max-width: 720px) {
    right: 25px;
    margin-top: 8.5em;
  }
}

.nav-arrow__prev {
  @extend %nav-arrow;
  left: 25px;
  @media screen and (max-width: 720px) {
    margin-top: 8.5em;
  }
}


.github-link {
  margin-left: 1.5em;
}

.material-icons.md-32 {
  font-size: 32px;
}