

.project-thumbnail-wrapper {
  display: grid;
  // grid-template-columns: repeat(5, minmax(125px, 1fr));
  grid-template-areas: ". a a . b . ." 
                       "c a a d d e ."
                       ". f g d d h i"
                       ". . . j . . .";
  max-width: 1000px;
  grid-gap: 1.3em;
  margin: 1em 3em 0 3em; 
  @media screen and (max-width: $break-large) {
    grid-template-areas: ". a a . b . ." 
                         "c a a d d e ."
                         ". f g d d h ."
                         ". . i j . . .";
  }
  @media screen and (max-width: $break-med-lg) {
    grid-template-areas: "a a b c ." 
                         "a a d d e"
                         "f g d d h"
                         ". i j . .";
  }
  @media screen and (max-width: $break-med-sm) {
    grid-template-areas: "a a b c" 
                         "a a d d"
                         "e f d d"
                         "g h i j";
  }
  @media screen and (max-width: $break-small) {
    grid-template-areas: "a b" 
                         "c d"
                         "e f"
                         "g h"
                         "i j";
    margin: 1em 1.5em;
  }
  @media screen and (max-width: $break-mobile) {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j";
    margin: 1em 1.5em;
  }
}



.project-thumb {
  opacity: 0;
  position: relative;
  filter: grayscale(100);
  cursor: pointer;
  // transition: box-shadow 250ms linear, transform 250ms ease-out, filter 250ms ease;
  &:nth-child(1) {
    grid-area: a;
    @include popIn;
  }
  &:nth-child(2) {
    grid-area: b;
    @include popIn;
  }
  &:nth-child(3) {
    grid-area: c;
    @include popIn;
  }
  &:nth-child(4) {
    grid-area: d;
    @include popIn;
  }
  &:nth-child(5) {
    grid-area: e;
    @include popIn;
  }
  &:nth-child(6) {
    grid-area: f;
    @include popIn;
  }
  &:nth-child(7) {
    grid-area: g;
    @include popIn;
  }
  &:nth-child(8) {
    grid-area: h;
    @include popIn;
  }
  &:nth-child(9) {
    grid-area: i;
    @include popIn;
  }
  &:nth-child(10) {
    grid-area: j;
    @include popIn;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;
    overflow: hidden;
    transition: box-shadow 250ms linear, transform 250ms ease-out, filter 250ms ease;
     &:hover {
    filter: grayscale(0);
    transform: translate(2px ,-8px);
    box-shadow: -8px 8px $black;
     }
  }
  &:hover {
    // filter: grayscale(0);
    // transform: translate(2px ,-8px);
    // box-shadow: -8px 8px $black;
    & .project-title-popup {
      opacity: 1;
      transform: rotate(0deg) translateX(0);
    }
  }
}

.project-title-popup {
  position: absolute;
  top: 2rem;
  left: -1.5rem;
  display: block;
  background-color: $white;
  padding: 0.5em;
  width: 8em;
  text-transform: uppercase;
  opacity: 0;
  transform: rotate(-5deg) translateX(-1em);
  transform-origin: right top;
  pointer-events: none;
  box-shadow: -4px 4px $black;
  z-index: 10;
  transition: opacity 250ms 150ms ease, transform 300ms 75ms cubic-bezier(.48,.2,.21,1.73);
  @media screen and (max-width: $break-med-sm) {
    font-size: 0.8em;
  }
}