$white: #fff;
$black: #080808;
$body-gray: #cfcfcf;
$menu-pink: #d51334;

$break-large: 1000px;
$break-med-lg: 800px;
$break-medium: 720px;
$break-med-sm: 625px;
$break-small: 570px;
$break-mobile: 320px;